.education {
  text-align: center;
  padding-bottom: 25px;
  border-bottom: $border-languid-gray;

  .block-vatuga {
    padding-bottom: 18px;
    border-bottom: $border-languid-gray;
  }
}

.block-academy__item {
  position: relative;
}

.academy-img {
  max-width: 640px;
  box-shadow: var(--shadow-90);
}

.block-academy__nav {
  position: absolute;
  width: 260px;
  top: calc(50% - 150px / 2);
  left: calc(50% - 260px / 2);
  opacity: 0;
  transition: 0.3s;

  &:hover {
    opacity: 1;

    +.academy-img {
      box-shadow: var(--shadow-hover);
    }
  }

  &:focus,
  &:focus-visible {
    box-shadow: var(--shadow-hover);
    outline: $border-white;
    outline-offset: 10px;
    opacity: 1;

    +.academy-img {
      box-shadow: var(--shadow-hover);
    }
  }
}

@media (min-width: $tablet-width) {
  .block-vatuga {
    border: $border-languid-gray;
  }

  .block-academy {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .block {
      width: 326px;
      display: flex;
      flex-direction: column;
    }
  }

  .academy-img {
    width: 280px;
    margin: 3px;
  }
}

@media (min-width: $desktop-width) {
  .block-academy {
    display: flex;
    justify-content: space-between;

    .block {
      width: 600px;
    }
  }

  .academy-img {
    width: 540px;
  }
}