.education {
  text-align: center;
  padding-bottom: 25px;
  border-bottom: $border-languid-gray;
}

.education__vatuga,
.education__academy-one {
  padding-bottom: 18px;
  border-bottom: $border-languid-gray;
}

.education__logo-academy {
  width: 108px;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  justify-content: space-between;

  &:hover .education__svg-logo-academy {
    fill: var(--special-green);
  }

  &:hover .education__logo-text {
    color: var(--special-green);
  }

  &:active .education__svg-logo-academy,
  &:active .education__logo-text {
    opacity: 0.3;
  }
}

.education__svg-logo-academy {
  width: 27px;
  height: 34px;
  fill: var(--languid-gray);
}

.education__logo-text {
  margin: 0;
  text-align-last: left;
  line-height: 16px;
  color: var(--languid-gray);
}

.education__academy-item {
  position: relative;

  @media (min-width: $tablet-width) {
    width: 298px;
  }

  @media (min-width: $desktop-width) {
    width: 540px;
  }
}

.education__academy-img {
  max-width: 640px;
  box-shadow: var(--shadow-90);
}

.education__academy-nav {
  position: absolute;
  width: 260px;
  top: calc(50% - 150px / 2);
  left: calc(50% - 260px / 2);
  opacity: 0;
  transition: 0.3s;

  &:hover {
    opacity: 1;

    +.education__academy-img {
      box-shadow: var(--shadow-hover);
    }
  }

  &:focus,
  &:focus-visible {
    box-shadow: var(--shadow-hover);
    outline: $border-white;
    outline-offset: 10px;
    opacity: 1;

    +.education__academy-img {
      box-shadow: var(--shadow-hover);
    }
  }
}

@media (min-width: $tablet-width) {
  .education__vatuga,
  .education__academy-one {
    border: $border-languid-gray;
  }

  .education__academy {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .education__academy-img {
    width: 298px;
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .education__academy-img {
    width: 540px;
    display: block;
  }
}
