.education {
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid $color-languid-gray;

  .block-vatuga {
    padding-bottom: 18px;
    border-bottom: 1px solid $color-languid-gray;
  }
}

.block-academy__item {
  position: relative;
}

.block-academy__nav {
  position: absolute;
  width: 280px;
  top: calc(50% - 150px / 2);
  left: calc(50% - 280px / 2);
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

@media (min-width: $tablet-width) {
  .block-vatuga {
    border: 1px solid $color-languid-gray;
  }

  .block-academy {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .block {
      width: 326px;
      display: flex;
      flex-direction: column;
    }
  }

  .academy-img {
    width: 320px;
    margin: 3px;
  }
}

@media (min-width: $desktop-width) {
  .block-academy {
    display: flex;
    justify-content: space-between;

    .block {
      width: 600px;
    }
  }

  .academy-img {
    width: 594px;
    box-shadow: 0px 0px 25px rgba(20, 20, 20, 0.884);
  }
}