.header {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: $border-languid-gray;
}

.header__block-logo {
  text-align: center;
}

.header__link-logo {
  display: inline-block;
  padding: 2px;
}

.header__logo {
  width: 242px;
  height: 72px;
  display: block;
  margin: 0 auto;
}

.header__nav-site {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-item {
  width: 120px;
  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: $border-languid-gray;
  transition: 0.5s;

  &:hover {
    box-shadow: var(--shadow-hover);
  }

  &:active {
    box-shadow: var(--shadow-active);
  }
}

.nav-link {
  text-align: center;
  color: var(--languid-gray);
  font-family: $fond-ubuntu;
  cursor: pointer;

  &:focus,
  &:focus-visible {
    outline-offset: 8px;
  }
}

@media (min-width: $tablet-width) {
  .header__nav-site {
    justify-content: space-between;
  }

  .header__nav-item {
    margin-bottom: 15px;
  }
}
