.header {
  padding-top: 15px;
  padding-bottom: 15px;

  .logo {
    img {
      margin: 0 auto;
    }
  }
}

.nav-site {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-bottom: $border-languid-gray;

  li {
    width: 120px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: $border-languid-gray;
    transition: 0.5s;

    a {
      text-align: center;
      color: var(--languid-gray);
      font-family: 'Ubuntu', sans-serif;
      cursor: pointer;

      &:focus,
      &:focus-visible {
        outline: $border-languid-gray;
        outline-offset: 10px;
      }
    }

    &:hover {
      box-shadow: var(--shadow-hover);
    }

    &:active {
      box-shadow: var(--shadow-active);
    }
  }
}

@media (min-width: $tablet-width) {
  .nav-site {
    justify-content: space-between;

    li {
      margin-bottom: 15px;
    }
  }
}