.hello {
  padding-bottom: 25px;
  text-align: center;
  border-bottom: $border-languid-gray;
}

.hello__contacts {
  display: none;
}


.hello-img {
  img {
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .hello {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  .hello__block-text {
    width: 70%;
    margin-right: 40px;
  }
}

@media (min-width: $desktop-width) {
  .hello__block-text {
    width: 40%;

    .hello__contacts {
      text-align: left;
      display: flex;
      flex-direction: column;
    }

    .hello__email {
      position: relative;
      padding-left: 50px;

      &::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 16px;
        top: 5px;
        left: 0;
        background: url("../img/stack.svg#email") 50% 50% no-repeat;
      }
    }

    .hello__email,
    .hello__social {
      display: flex;
      justify-content: space-between;
    }

    .hello__button-mail {
      color: var(--pink);

      &:hover {
        opacity: 0.6;
      }

      &:focus,
      &:focus-visible {
        opacity: 0.6;
        outline: $border-pink;
        outline-offset: 5px;
      }

      &:active {
        opacity: 0.3;
      }
    }

    .hello__social-list {
      width: 300px;
      margin: auto 0;
      display: flex;
      justify-content: space-between;
    }


    .hello__social-link {
      width: 25px;
      height: 25px;
      display: block;
      background-size: cover;

      &--whatsapp {
        background: url("../img/stack.svg#whatsapp") 50% 50% no-repeat;
      }

      &--telegram {
        background: url("../img/stack.svg#telegram") 50% 50% no-repeat;
      }

      &--github {
        background: url("../img/stack.svg#github-icon") 50% 50% no-repeat;
      }

      &--skype {
        background: url("../img/stack.svg#skype") 50% 50% no-repeat;
      }

      &:hover {
        opacity: 0.6;
      }


      &:focus,
      &:focus-visible {
        outline: $border-languid-gray;
        outline-offset: 6px;
        opacity: 0.6;
      }

      &:active {
        opacity: 0.3;
      }
    }
  }
}
