.hello {
  padding-bottom: 25px;
  text-align: center;
  border-bottom: $border-languid-gray;
}

.hello-contacts {
  display: none;
}

.button__mail {
  color: var(--pink);

  &:focus,
  &:focus-visible {
    outline: $border-languid-gray;
    outline-offset: 10px;
  }
}

.button__social {
  &:focus,
  &:focus-visible {
    outline: $border-languid-gray;
    outline-offset: 6px;
  }
}

.hello-img {
  img {
    margin: 0 auto;
  }
}

@media (min-width: $tablet-width) {
  .hello {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  .hello-text {
    width: 70%;
    margin-right: 40px;
  }
}

@media (min-width: $desktop-width) {
  .hello-text {
    width: 40%;

    .hello-contacts {
      text-align: left;
      display: flex;
      flex-direction: column;

      p {
        display: flex;
        justify-content: space-between;

        span {
          color: var(--pink);
        }
      }

      .block-social {
        display: flex;
        justify-content: space-between;

        .social {
          width: 300px;
          margin-top: 18px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}