.portfolio {
  text-align: center;
  padding-bottom: 25px;
  border-bottom: $border-languid-gray;
}

.website-item {
  width: 280px;
  padding-top: 10px;
  margin-bottom: 40px;
  box-shadow: var(--shadow-25);
  overflow: hidden;
  z-index: 1;

  img {
    transition: 1s;
  }


  &:hover {
    box-shadow: var(--shadow-90);
  }
}

.img-link {
  outline: none;

  &:hover {
    box-shadow: var(--shadow-90);

    img {
      transform: scale(1.4);
    }
  }

  &:focus,
  &:focus-visible {
    img {
      transform: scale(1.4);
    }
  }
}

@media (min-width: $tablet-width) {
  .portfolio {
    margin-top: 40px;
  }

  .website {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .website-item {
    margin-bottom: 40px;
    box-shadow: var(--shadow-25);
  }
}