.skills {
  position: relative;
  padding-bottom: 25px;
  text-align: center;
  border-bottom: $border-languid-gray;

  @media (min-width: $desktop-width) {
    &::before {
      position: absolute;
      content: "";
      width: 300px;
      height: 100px;
      top: 0;
      left: 0;
      background: url("../img/css.jpg") 50% 50% no-repeat;
      animation: animBackground 260s infinite linear;
      z-index: -1;
      opacity: 0.2;
    }

    &::after {
      position: absolute;
      content: "";
      width: 300px;
      height: 100px;
      top: 0;
      left: 0;
      background: url("../img/js.jpg") 50% 50% no-repeat;
      animation: animBack 260s infinite linear;
      z-index: -1;
      opacity: 0.2;
    }
  }
}

.skills__list {
  width: 100%;
  padding: 5px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "html . . gulp . . bst . bem"
      ". sass . . php . oc oc ."
      ". . less . . jq . fig ."
      "grid . . css . git git . js"
      ". .ah ah ah ah flex flex .";
  }
}

.skills__item {
  p {
    display: block;
    margin: 5px;
    font-size: 18px;
    line-height: 24px;
    font-family: $fond-adigiana;

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &--html {
    grid-area: html;
  }

  &--gulp {
    grid-area: gulp;
  }

  &--bst {
    grid-area: bst;
  }

  &--bem {
    grid-area: bem;
  }

  &--flex {
    grid-area: flex;
  }

  &--grid {
    grid-area: grid;
  }

  &--css {
    grid-area: css;
  }

  &--js {
    grid-area: js;
  }

  &--git {
    grid-area: git;
  }

  &--sass {
    grid-area: sass;
  }

  &--php {
    grid-area: php;
  }

  &--oc {
    grid-area: oc;
  }

  &--less {
    grid-area: less;
  }

  &--jq {
    grid-area: jq;
  }

  &--fig {
    grid-area: fig;
  }

  &--adobe-ph {
    grid-area: ah;
  }

  &--html,
  &--gulp,
  &--bst,
  &--bem {
    p {
      color: var(--pink);
    }
  }

  &--css,
  &--js,
  &--git,
  &--grid {
    p {
      color: var(--special-yellow);
    }
  }

  &--sass,
  &--php,
  &--oc {
    p {
      color: var(--special-blue);
    }
  }

  &--less,
  &--jq,
  &--fig {
    p {
      color: var(--special-green);
    }
  }

  &--flex {
    p {
      color: var(--special-purple);
    }
  }
}

.skills__item-adobe {
  color: var(--special-purple);
}

.skills__item-ph {
  color: var(--special-yellow);
}