.skills {
  padding-bottom: 25px;
  text-align: center;
  border-bottom: $border-languid-gray;
}

.skills__list {
  width: 100%;
  padding: 5px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      "html . . gulp . . bst . ."
      ". sass . . php . oc oc ."
      ". . less . . jq . fig ."
      ". . . css . git git . js"
      ". . ah ah ah ah ah . .";
  }
}

.skills__item {

  p {
    display: block;
    margin: 5px;
    font-size: 18px;
    line-height: 24px;
    font-family: $fond-adigiana;

    @media (min-width: $tablet-width) {
      font-size: 24px;
      line-height: 32px;
    }
  }

  &--html {
    grid-area: html;
  }

  &--gulp {
    grid-area: gulp;
  }

  &--bst {
    grid-area: bst;
  }

  &--css {
    grid-area: css;
  }

  &--js {
    grid-area: js;
  }

  &--git {
    grid-area: git;
  }

  &--sass {
    grid-area: sass;
  }

  &--php {
    grid-area: php;
  }

  &--oc {
    grid-area: oc;
  }

  &--less {
    grid-area: less;
  }

  &--jq {
    grid-area: jq;
  }

  &--fig {
    grid-area: fig;
  }

  &--adobe-ph {
    grid-area: ah;
  }

  &--html,
  &--gulp,
  &--bst {
    p {
      color: var(--pink);
    }
  }

  &--css,
  &--js,
  &--git {
    p {
      color: var(--special-yellow);
    }
  }

  &--sass,
  &--php,
  &--oc {
    p {
      color: var(--special-blue);
    }
  }

  &--less,
  &--jq,
  &--fig {
    p {
      color: var(--special-green);
    }
  }
}

.skills__item-adobe {
  color: var(--special-purple);
}

.skills__item-ph {
  color: var(--special-yellow);
}