.up-button {
  display: none;

  @media (min-width: $tablet-width) {
    position: fixed;
    width: 64px;
    height: 64px;
    padding: 0;
    bottom: 75px;
    right: 50px;
    display: block;
    border: $border-green;
    border-radius: 50%;
    background-color: var(--white-00);
    cursor: pointer;
    z-index: 1000;
    display: none;

    &:hover {
      opacity: 0.5;
    }
  }
}

.up-button__svg {
  width: 26px;
  height: 18px;
  fill: var(--special-green);

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 26px;
  }
}

.show {
  display: block;
}
