.up-button {
  position: fixed;
  padding: 0;
  bottom: 75px;
  right: 50px;
  width: 54px;
  height: 54px;
  border: $border-green;
  border-radius: 50%;
  background-color: var(--white-00);
  z-index: 100;
  display: none;

  @media (min-width: $tablet-width) {
    width: 64px;
    height: 64px;
  }
}

.up-button__svg {
  width: 26px;
  height: 18px;
  fill: var(--special-green);

  @media (min-width: $tablet-width) {
    width: 40px;
    height: 26px;
  }
}

.show {
  display: block;
}