$tablet-width: 768px;
$desktop-width: 1440px;

$color-white: #FFFEFD;
$color-white-white: #FFFFFF;
$color-pink: #FF7236;
$color-black: #4d4d50;
$color-yellow: #FAC663;
$color-soft-gray: #E5E5E5;
$color-gray: #E1E1E1;
$color-languid-gray: #646464;