.education {
  text-align: center;
  padding-bottom: 25px;
  border-bottom: 1px solid @color-languid-gray;

  .block-vatuga {
    padding-bottom: 18px;
    border-bottom: 1px solid @color-languid-gray;
  }
}

@media @tablet-widths {
  .block-vatuga {
    border: 1px solid @color-languid-gray;
  }

  .block-academy {
    margin-top: 40px;
  }
}