.hello {
  padding-bottom: 25px;
  text-align: center;
  border-bottom: 1px solid @color-languid-gray;
}

.hello-contacts {
  display: none;

  p {
    span a {
      color: @color-pink;
    }
  }
}

.hello-img {
  img {
    margin: 0 auto;
  }
}

@media @tablet-widths {
  .hello {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }

  .hello-text {
    width: 70%;
    margin-right: 40px;
  }
}


@media @desktop-widths {
  .hello-text {
    width: 40%;

    .hello-contacts {
      text-align: left;
      display: flex;
      flex-direction: column;

      p {
        display: flex;
        justify-content: space-between;

        span {
          color: @color-pink;
        }
      }

      .block-social {
        display: flex;
        justify-content: space-between;

        .social {
          width: 300px;
          margin-top: 18px;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}